@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #1a1a1a;
    --primary: #1e6f9f;
    --secondary: #8284fa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0d0d0d;
    }
}

body {
    background-color: var(--background);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.page-container {
    @apply pt-24 md:pt-40 mx-2 md:mx-0;
}
